# Clé de chiffrement Fernet pour les credentials CAS
# Générer avec : python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
ADE_ENCRYPTION_KEY=

# URL de base ADE Consult
ADE_BASE_URL=https://adeconsult.app.u-pariscite.fr

# Port du serveur FastAPI
ADE_PORT=8001
